[data-aweza] {
    font-weight: 700;
    cursor: pointer;
    color: #00aff0;
}

.tippy-tooltip.aweza-theme {
    font-family: sans-serif;
    padding: 0px;
    background-color: white;
    color: #3E3F3A;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.tippy-content {
    min-width: 150px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aweza-popup-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aweza-popup-content {
    min-width: 150px;
    min-height: 100px;
    line-height: 1;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
}

.aweza-category {
    background-color: #2DA8C2;
    color: white;
    padding: 10px;
}

.aweza-section-title {
    text-align: left;
    background-color: #f2f2f2;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
}

.aweza-section-content {
    padding: 2px;
    font-size: 12px;
    color: #373737;
    margin-bottom: 5px;
}

.tippy-tooltip hr {
    background: #979797;
    height: 1px;
    border: 0;
    margin: 10px 10px 5px 10px;
}

.aweza-section-content-text {
    padding: 6px 6px 0 6px;
}

.aweza-example-content-text-text,
.aweza-definition-text-text {
    width: 100%;
}

.aweza-definition-text {
    display: flex;
    justify-content: space-between;
}

.aweza-example-text {
    display: flex;
    justify-content: space-between;
}

.aweza-audio {
    padding: 2px 5px 2px 2px;
}

.aweza-definition-text-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aweza-example-text-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aweza-definition-description {
    display: flex;
}

.aweza-popup-content p,
.aweza-popup-content h1,
.aweza-popup-content h2,
.aweza-popup-content h3,
.aweza-popup-content h4,
.aweza-popup-content h5
{
    margin: 0 0 5px 0;
    padding: 0;
}

.aweza-image {
    text-align: center;
}
.aweza-image > img {
    max-width: 280px;
    max-height: 280px;
    margin: 10px;
}

.aweza-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D5EEF3;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 12px;
}

.aweza-footer select {
    background: 0;
    border: 0;
    height: 29px;
    font-size: 12px;
}

.aweza-footer-left {
    display: flex;
    align-items: center;
}

.aweza-footer-logo {
    max-width: 60px;
}

.aweza-select-translation {
    height: 15px;
}

.language-code {
    background: #9B9B9B;
    border-radius: 6px;
    padding: 4px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
}



.tippy-popper[x-placement^=right] .tippy-tooltip.aweza-theme .tippy-arrow {
    border-right: 7px solid #2DA8C2;
    margin-top: 8px;
}

.tippy-popper[x-placement^=left] .tippy-tooltip.aweza-theme .tippy-arrow {
    border-left: 7px solid #2DA8C2;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.aweza-theme .tippy-arrow {
    border-top: 7px solid #2DA8C2;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.aweza-theme .tippy-arrow {
    border-bottom: 7px solid #2DA8C2;
}